.display {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  background: #07111f;
  border-color: #3b9eff;
  border-radius: 10px;
  color: #f5f7fa;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
  padding: 0 10px;
  box-sizing: border-box;
}
.display:focus {
  outline: none;
}
